body {
  background: #f1f1f1;
  font-family: Arial;
}

.calc {
  background: #0f202a;
  margin: 100px auto;
  width: 400px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 17px 20px 20px 0px #cecece;
}

.screen {
  background: #f1f1f1;
  height: 70px;
  
 
}

.screen input {
display: block;
    width: calc(100% - 40px);
    height: 100%;
    font-size: 28px;
    padding: 0 20px;
    text-align: right;
    background: transparent;
    border: 0;
}

.keyboard {
  background: green;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-content: stretch;
}

.btn {
  background: #f1f1f1;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  width: calc((100% / 4) - 10px);
  padding: 25px 0;
  border: 5px solid #0f202a;
  
  &.option {
    background: #ffc474;
    
    &:hover {
      background: #ffe0b7;
    }
    
    &:active {
      background: #ffc474;
    }
  }
  
  &:hover {
    background: #c6c6c6;
  }
  
  &:active {
    background: #f1f1f1;
  }
}

.btn.option {
  background: #ffc474;
}

.btn.option:hover {
      background: #ffe0b7;
    }
    
 .btn.option:active {
      background: #ffc474;
    }

.btn:hover {
    background: #c6c6c6;
  }

  .btn:active {
    background: #f1f1f1;
  }